@import url('https://fonts.googleapis.com/css2?family=Meddon&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Meddon", cursive;
 font-family: "Roboto Condensed", sans-serif;*/

.timer-container{
    width: 100%;
    height: auto;
    color: #fff;
}


.timer {
    width: 100%;
    height: 100%;
    padding: 0.5em;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    text-align: center;
    color: #822900;
}

.timer p{
    font-weight: 200;
    font-size: 30px;
    font-family: "Roboto Condensed", sans-serif;
    margin-bottom: 20px;
}

.count {
    border: 1px solid #822900;
    border-radius: 3px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 3em;
    text-align: center;  
}

.count p:first-child, .timer div:last-child span {
    font-size: 3em;
    font-weight: 400;
}


@media (max-width: 768px) {
 

    .timer-container{
        height: 300px;
    }
    
.timer {
    padding: 1em;
    margin-top: 10px;
   
}

    .timer p{
            font-weight: 200;
            font-size: 20px;
            margin-bottom: 10px;
        }
        
    .count {    
        padding: 30px ;
        margin-top: 1em;     
        }
    
    .count p:first-child, .timer div:last-child span {
        font-size: 40px;
        font-weight: 400;
    
    }
    
    .count p:last-child {
        font-size: 14px; 
    }
    
}
