@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
/*font-family: "Nunito", sans-serif;
font-family: "Dancing Script", cursive;*/

.container{
    width: 100%;
    height:auto;   
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
  }

.background_img {
    width: 550px;
    height: auto;
    top: -300px ;
    background-size: cover;
    position: absolute;
    z-index: 5;
    margin-left: -1150px;

}
.background_img_1 {
    width: 250px;
    height: auto;
    top: 350px ;
    background-size: cover;
    position: absolute;
    margin-right: -1386px;

}

.logo {
    width: 40%; 
    height: auto;
    margin:auto;  
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;

}

.titulo {
    line-height: 110px;
    margin-top: 300px ;
    font-size: 70px;
    font-family: "Dancing Script", cursive;
    text-align: center;
    color:#C1A437;
}

.titulo h2 {
    font-weight: lighter;
}