@import url('https://fonts.googleapis.com/css2?family=Meddon&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Meddon", cursive;
 font-family: "Roboto Condensed", sans-serif;*/

.container {
    width: 100%;
    height: 1860px;   
    display: flex;
    justify-content: center;
  }
  
.background_img_rings {
    width: 100%;
    height: auto;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}


.img_flower3 {
    width: 550px;
    height: auto;
    top: -300px ;
    position: absolute;
    z-index: 3;
    margin-left: -1150px;

}
.img_flower4 {
    width: 250px;
    height: auto;
    top: 350px ;
    position: absolute;
    margin-right: -1386px;

}

.logo {
    width: 40%; 
    height: auto;
    margin:auto;  
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;

}

.titulo {
    position: absolute;
    line-height: 130px;
    margin-top: 450px ;
    font-weight: 300;
    font-size: 45px;
    font-family: "Meddon", cursive;
    text-align: center;
    color:#C1A437;
    z-index: 10;
}

.titulo h3{
    font-size: 35px;
}

.container_text{
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    margin-bottom: 140px;
  }

.text {
    width: 35%;
    line-height: 80px;
    margin: 1200px 0 0 90px ;
    text-align: center;
    font-size: 60px;
    font-weight: 100;
    font-family: "Meddon", cursive;
    color: #fff;
    z-index: 2;
}

 
@media (max-width:768px) { 
    .container {
        height: 1085px;   
      }
    

    .img_flower3 {
        width: 200px;
        top: -100px;
        margin-left: -350px;   
    }
    
    .img_flower4 {
        width: 100px;
         top: 78px ;
        margin-right: -371px;   
    }     
            
    .logo {
        width: 45%; 
        transform: translate(-50%, -50%);
        top: 8%;   
    }   
            
    .titulo {
        margin-top: 120px;
        font-size: 16px;
        line-height: 40px; 
 
        }

        .titulo h3{
            font-size: 14px;
        }
        

        .text {
            width: 90%;
            height: 100px;
            line-height: 30px;
            margin: 400px 0 16px 16px ;
            font-size: 20px;   
             text-shadow: 2px 2px 3px black;

        }
    } 
