@import url('https://fonts.googleapis.com/css2?family=Meddon&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Meddon", cursive;
 font-family: "Roboto Condensed", sans-serif;*/

.container {
    width: 100%;
    height: 1860px;   
    display: flex;
    justify-content: center;
  }
  
.background_img_rings {
    width: 100%;
    height: auto;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}


.img_flower3 {
    width: 550px;
    height: auto;
    top: -300px ;
    position: absolute;
    z-index: 3;
    margin-left: -1150px;

}
.img_flower4 {
    width: 250px;
    height: auto;
    top: 350px ;
    position: absolute;
    margin-right: -1386px;

}

.logo {
    width: 40%; 
    height: auto;
    margin:auto;  
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;

}

.titulo {
    position: absolute;
    line-height: 130px;
    margin-top: 450px ;
    font-weight: 300;
    font-size: 45px;
    font-family: "Meddon", cursive;
    text-align: center;
    color:#C1A437;
    z-index: 10;
}

.titulo h2 {
    font-weight: lighter;
}

.container_text{
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    margin-bottom: 140px;
  }

.text {
    width: 35%;
    line-height: 80px;
    margin: 1200px 0 0 90px ;
    text-align: center;
    font-size: 60px;
    font-weight: 100;
    font-family: "Meddon", cursive;
    color: #fff;
    z-index: 2;
}

 
@media (max-width:1024px) { 
    

    .img_flower3 {
        width: 350px;
        top: -175px;
        margin-left: -820px;   
            }

    .img_flower4 {
        width: 190px;
        top: 250px ;
        margin-right: -860px;   
    }     
            
    .logo {
        width: 40%; 
        top: 22%;   
    }   
            
    .titulo {
        margin-top: 270px;
        font-size: 30px;
        line-height: 90px;    
        }

    .text {
        width: 40%;
        line-height: 50px;
        margin: 700px 0 0 50px ;
        font-size: 40px;     
    }
} 


 
@media (max-width:768px) { 
    .container {
        height: 1560px;   
      }
    

    .img_flower3 {
        width: 400px;
        top: -250px;
        margin-left: -600px;   
    }
    
    .img_flower4 {
        width: 200px;
         top: 180px ;
        margin-right: -720px;   
    }     
            
    .logo {
        width: 40%; 
        transform: translate(-50%, -50%);
        top: 10%;   
    }   
            
    .titulo {
        margin-top: 200px;
        font-size: 25px;
        line-height: 70px; 
 
        }

        .text {
            width: 40%;
            line-height: 45px;
            margin: 500px 0 -30px 30px ;
            font-size: 33px;     
        }
    } 


@media (max-width: 375.11px) {
    .container {
        height: 800px;   
      }
    

.background_img_rings {
        height: 500px;
    }

.img_flower3 {
        width: 200px;
        top: -100px;
        margin-left: -300px;   
    }

.img_flower4 {
        width: 100px;
        top: 150px;
        margin-right: -320px;   
    }     
    
.logo {
        width: 45%; 
        top: 10%;
        left: 50%;
    }   
    
.titulo {
        margin-top: 130px;
        font-size: 16px;
        line-height: 45px;    
    }

    .container_text{
        height: 300px;
        margin-bottom: 0;
      }

.text {
        width: 100%;
        line-height: 35px;
        margin: 360px 30px 0 30px ;
        font-size: 16px;     
        }
} 

