.container{
    width: 100%;
    height: 500px;
    top: 100px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.background_img{
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
}



@media (max-width: 768px) {
  .container{
    top: -133px;  
  }

  .background_img {
    height: 350px;
    top: 0px;     
  }
}