@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
/*font-family: "Nunito", sans-serif;
font-family: "Dancing Script", cursive;*/

.container_banner{
    width: 100%;
    height: 708px;
    position: relative;
    display: flex;
  }

.background_img{
    width: 100%;
    min-height: 135vh;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
   z-index: -1;
}

.text_banner{
    width: 35%;
    line-height: 80px;
    margin: 300px 0 0 300px ;
    font-size: 80px;
    font-weight: 100;
    font-family: "Dancing Script", cursive;
    color: #fff;
    z-index: 2;
}

