@import url('https://fonts.googleapis.com/css2?family=Meddon&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Meddon", cursive;
 font-family: "Roboto Condensed", sans-serif;*/


.container_banner{
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    margin-bottom: 140px;
  }

.text_banner{
    width: 35%;
    line-height: 80px;
    margin: 300px 0 0 90px ;
    text-align: center;
    font-size: 60px;
    font-weight: 100;
    font-family: "Roboto Condensed", sans-serif;
    color: #fff;
    z-index: 2;
}

@media (max-width: 390px) {
  .container_banner{
    height: 375px;
    margin-bottom: 100px;
  
  }

  .background_img {
    width: 170%;
    height: 450px;
    left: -100px;
      
  }
  .text_banner{
    width: 100%;
    color: #822900;
    line-height: 30px;
    margin: 310px 10px 0 10px ;
    font-size: 25px;
  }
}
